.login{
    width: 740px;
    padding: 0 20px;
}
.loginText{
    color: #97368b;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
}
.lTBorder{
    background-color: #e7e0ce;
    width: auto;
    height: 3px;
}
.xinHao{
    color: red;
}
.loginText2{
    height: 70px;
    line-height: 70px;
}
ul .loginLi{
    height: 30px;
    padding: 10px 0
;

}
li input{
    border: 1px solid black;
    height: 28px;
    width: 220px;
    font-size: 25px;
}
.loginLi .loginT{
    width: 120px;
    font-size: 25px;
    line-height: 30px;
    height: 30px;
    display: block;
}
.formUL i{
    height: 30px;
    font-size:25px ;
    line-height: 30px;
}
.formUL i,input{
    float: left;
}
.loginSubmit{
    width: 70px;
    font-size: 23px;

    border: none;
    background-color: #f0f0f0;
}
.formUL .centerSubmit{

    padding: 90px 300px;

}
.loginWarn{
    color: red;
}